<!--
Name : Diarmuid Brennan
Project : Balance Health Web Application
Date : 05/04/2022
_navbar.html - html page for adding navigation bar for each page in the application
-->
<ul class = "nbar">
  <li class="nbarlist"><a class="navbar-brand" href="#">Balance Health</a></li>
  
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Patient</a>
    <div class="dropdown-content">

      <a href="/view_patients">View Patients</a>
      <a href="/create_patient">Create Patient</a>
      <a href="/edit_patient">Edit Patient</a>
    </div>
  </li>
  
   <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Activity</a>
    <div class="dropdown-content">

      <a href="/create_activity">Create Activity</a>
      <a href="/view_activities">View Activities</a>
    </div>
  </li>
  <li class="nbarlist" style="float:right"><a href="/logout">Logout</a>
</ul>
