<!--
Name : Diarmuid Brennan
Project : Balance Health Web Application
Date : 05/04/2022
Base.html this file contains the base strucuture that willl be inherited by all other pages
-->
<!DOCTYPE html>
<html>
    <head>
	 <title>Balance Health</title>
	 <link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        
        <script type="text/javascript" src="/static/js/add_details.js"></script>
    </head>

    <body>
    <div>
	{% block navbar %}
		{% include '_navbar.html' %}
	{% endblock %}
	</div>
	
	<div>
        {% block content %} 
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class ="error_messages">
			{% for category, message in messages %}
	  		<li class="{{category}}" >{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}

		{% block sub_content %}
		{% endblock %}
	{% endblock %}
	</div>

    </body>
</html>

