{%extends "base.html" %}

{% block sub_content %}

<script  type="text/javascript">
	function confirmCheck(){
		var response ;
		var fname = document.getElementById("first_name").value;
		var lname = document.getElementById("last_name").value;		
		response = confirm('Confirm: Add patient ' + fname + " " + lname) ;

		if(response){//if user selects yes pass details to php file
			return true ;
					}
		else
			{//if user selects no return to screen
			 return false;
			}			
		}	
</script>

<center>
	<h1> Add Patient</h1>


	<div style="text-align: center;">

	<div class="form">
	<form class="addform" onsubmit = "return confirmCheck();" method="POST">
		
		<label class="inputbox" for="fname">First Name</label>
		<input class="input_add" type="text" id="first_name" name="first_name" placeholder="patient name.." required>

		<label class="inputbox" for="lname">Last Name</label>
		<input class="input_add" type="text" id="last_name" name="last_name" placeholder="patient last name.." required>
		
		<label class="inputbox" for="age">Date of Birth</label>
		<input class="input_add" type="date" id="age" name="age"  required>
		
		<label class="inputbox" for="email">Email</label>
		<input class="input_add" type="email" id="email" name="email" placeholder="contact email.." required>
				
		<label class="inputbox" for="condition">Condition</label>
		<input class="input_add" type="text" id="condition" name="condition" placeholder="patients condition..." required><br>
		
		<!--<label class="inputbox" for="image">Image Upload</label>
		<input class="input_add" type="file" name="myimage">		
		<div >-->
		<input class="submit_button" type="submit" value="Submit">
		</div><br><br>

	</form>
	</div>

	</div>

</center>
{% endblock %}


