<!--
Name : Diarmuid Brennan
Project : Balance Health Web Application
Date : 05/04/2022
view_activities.html - html page for displaying the activities stored on the database
-->
{%extends "base.html" %}

{% block sub_content %}

<center>

<h1>Activity List</h1>


{% if data %}
<div>
<table class = "patient_list" style="width: 60%;" > 
	<tr>
		<th>Name</th><th>Description</th><th>Time Limit</th>
	</tr> 


{% for row in data %}
	<tr>

		<td>{{ row['name'] }}</td>
		<td>{{ row['description'] }}</td>
		<td>{{ row['time_limit'] }}</td>

	</tr>
{% endfor %}
</table>
</div>
{% else %}
<br><br>
<p>No actviities currently exist!</p>

{% endif %}

</center>
    
{% endblock %}
